<div class="messagescontainer" ng-controller="MsgCtrl">

                <h4 ng-hide="messages"> No messages. </h4>
                <h4 class="">Recent Messages </h4>
                <div class="messagecard container-fluid" ng-repeat="message in messages">
                <div ng-hide="message.edit">
                <p class='messagetxt'><strong>{{ message.name }}</strong>: {{ message.content }}</p>
                 <p>{{error}}</p>
                </div>

                <!-- show edit / delete options if correct user -->
                <div ng-show="message.from === authData.uid">
                <div ng-hide="message.edit">
                <button class='btn btn-link' ng-click="showEdit(message)">Edit</button>
                <button class='btn btn-link pull-right' ng-click="messages.$remove(message)">Delete</button>
                </div>
                </div>

                <!-- show edit form -->
                <form ng-show="message.edit" ng-submit="saveMessage(message)">
                <input class='form-control in-line' type="text" ng-model="message.content">
                <button class='btn btn-link pull-right' ng-click="message.edit = false">Cancel</button>
                <!--button class='btn btn-success pull-left' ng-click="saveMessage(message)">Save</button-->
                <br>
                </form>
                </div>


                <!-- new message -->
                <div ng-include="'newMessages.html'"></div>

                </div>



    <button class="firebutton" ng-click="Auth.$unauth()">Out</button>
