<div ng-controller="userCtrl">
<div ng-hide="authData">

      <p ng-if="info"class="alert alert-success" role="alert" >{{ info }}</p>
      <p ng-if="error" class="alert alert-danger" role="alert">{{ error }}</p>


  <div class="tab-content">
    <div id="signin" class="tab-pane fade in active">
      <form class="sign container-fluid">
        <div class='form-group'>
        <input type ="text" class='form-control' placeholder="email" ng-model="emailIn" >
        <br>
        <input type ="password" class='form-control' placeholder="password" ng-model="passwordIn" >
        <br><br>
        <button class="firebutton" ng-click="signIn()">Go</button>
        </div>
      </form>
      </div>

    <div id="signup" class="tab-pane fade">
      <form class="sign container-fluid">
        <div class='form-group'>
        <input type="text" class='form-control' placeholder="name" ng-model="name">
        <br>
        <input type="text" class='form-control' placeholder="email" ng-model="email">
        <br>
        <input type="password" class='form-control' placeholder="password" ng-model="password">
        <br>
        <button class="firebutton" ng-click="createUser()">Go</button>
        </div>
      </form>

    </div>

  </div>
</div>

<div ng-hide='authData'>
<h3 class='calltoaction'>Fire up the conversation... Join</h3>
<button class="firebutton" data-toggle="tab" href="#signin">In</button>
<button class="firebutton" data-toggle="tab" href="#signup">Up</button>
</div>







</div>
</div>
