<div ng-controller="userCtrl" ng-hide="authData">


<div ng-controller="ModalDemoCtrl">
      <script type="text/ng-template" id="signInModal.html">
          <div class="modal-body">
            <form class="sign container-fluid">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <!-- errors -->
                <p ng-if="error" class="alert alert-danger" role="alert">{{ SignInError }}</p>

                <h4 class="messageHeading">Sign In</h4>
                <div class='form-group'>
                <input type ="text" class='form-control' placeholder="email" ng-model="emailIn" >
                <br>
                <input type ="password" class='form-control' placeholder="password" ng-model="passwordIn" >
                <br>
                <button class="firebutton right" ng-click="signIn()">Go</button>
                </div>
                <br>
              </form>
          </div>
      </script>
</div>
</div>
